/* Estilo general para el contenedor principal */
.main {
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns: 1fr;  /* Una sola columna */
    grid-template-rows: auto 1fr;  /* Una fila para el contenedor de cantidades y una para los gráficos */
    gap: 20px;
    height: 100vh;
    padding: 20px;
}

/* Contenedor de las cantidades (jugadores y preguntas) */
#chart_div {
    background-color: white;
    padding: 20px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Estilo para los títulos dentro del contenedor de cantidades */
#chart_div h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Estilo para los números de jugadores y preguntas */
#cantidad_jugadores, #cantidad_preguntas {
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Contenedor de los gráficos */
.charts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Tres columnas de igual tamaño */
    gap: 20px;
    width: 100%;
    justify-items: center;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    background: orangered;
}

/* Ajuste de los gráficos en pantallas pequeñas */
@media (max-width: 768px) {
    .charts-container {
        grid-template-columns: 1fr;  /* En pantallas pequeñas, los gráficos se apilan */
    }
}
