<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/public/images/icons/letrasQuizMaster.svg" alt="QuizMaster" class="footer-logo-img">
        </div>
        <div class="footer-social">
            <a href="#" class="link-footer" target="_blank"><img src="/public/images/icons/whatsapp.svg"></a>
            <a href="#" class="link-footer" target="_blank"><img src="/public/images/icons/instagram.svg"></a>
            <a href="https://github.com/JulianKer/TP-Preguntados" class="link-footer" target="_blank"><img src="/public/images/icons/github.svg"></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 QuizMaster. Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>