<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/header.css">

</head>
<body>

<!-- Header -->
<header>
    <nav class="navbar">
        <a href="/principal/inicio" class="logo">QuizMaster</a>
        <div class="cont-user-icon">
            <div style="display: flex; flex-direction: column">
                {{#user}}
                    Hola {{user}}!
                {{/user}}
                <a href="/acceso/cerrarSesion" class="cerrarSesion">CERRAR SESION</a>
            </div>
            <a href="/perfil/usuario">
                <img class="user-icon" src="/public/images/icons/userIcon.png">
            </a>
        </div>
    </nav>
</header>




