<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/home.css">

    {{#esEditor}}
        <link rel="stylesheet" href="/public/css/homeEditor.css">
    {{/esEditor}}


    {{#esAdmin}}
        <link rel="stylesheet" href="/public/css/graficosAdmin.css">
        <script src="https://www.gstatic.com/charts/loader.js"></script>
    {{/esAdmin}}


        <script src="/public/js/popUp.js" defer></script>
    <title>Inicio - QuizMaster</title>
</head>
<body>






{{#esJugador}}
    {{#partidaPendiente}}
        <div class="popupCompleto">
            <div class="caja-popup">
                <img src="/public/images/icons/warningIcon.svg" alt="warningIcon" title="Advertencia">
                <h3>¡Tienes una partida empezada!</h3>
                <h6>Debes terminar tu partida.</h6>
                <a href="/partida/jugar" id="btnReanudar">Reanudar partida</a>
            </div>
        </div>
    {{/partidaPendiente}}
    <div class="main-content">
        <div class="lobby-card">
            <h1 class="welcome-title">Bienvenido, {{user}} !</h1>
            <div class="user-stats">
                <span>Puntaje actual: {{objUsuario.puntaje_usuario}}</span>
                <span>#{{posicionEnElRanking}}</span>
            </div>
            <div class="button-group">
                <a class="button" href="/partida/jugar">Nueva Partida</a>
                <a class="button" href="/ranking/posiciones">Ranking</a>
                <a class="button" href="/editar/nuevaPregunta">Crear Pregunta</a>
            </div>
        </div>
        <div class="lobby-card">
            <h2 class="recent-games-title">Partidas Recientes</h2>
            <ul class="game-list">
                {{#partidasDelUsuario}}
                    <li class="game-item">
                        <span>Partida {{id_partida}}</span>
                        <span class="puntaje">+{{puntaje}} puntos</span>
                    </li>
                {{/partidasDelUsuario}}
                {{^partidasDelUsuario}}
                    <li class="sin-partidas">
                        <p>¡Aún no tiene partidas jugadas!</p>
                    </li>
                {{/partidasDelUsuario}}
            </ul>
        </div>
    </div>
{{/esJugador}}












{{#esEditor}}

    {{#exitoMsjSobreDesactivacion}}
        <p class="alerta exito">{{exitoMsjSobreDesactivacion}}</p>
    {{/exitoMsjSobreDesactivacion}}
    {{#errorMsjSobreDesactivacion}}
        <p class="alerta error">{{errorMsjSobreDesactivacion}}</p>
    {{/errorMsjSobreDesactivacion}}

    {{#exitoMsjSobreHabilitacion}}
        <p class="alerta exito">{{exitoMsjSobreHabilitacion}}</p>
    {{/exitoMsjSobreHabilitacion}}
    {{#errorMsjSobreHabilitacion}}
        <p class="alerta error">{{errorMsjSobreDesactivacion}}</p>
    {{/errorMsjSobreHabilitacion}}

    {{#exitoEditar}}
        <p class="alerta exito">{{exitoEditar}}</p>
    {{/exitoEditar}}
    <div class="main-content">
        <div class="lobby-card">
            <h1 class="welcome-title">Bienvenido, {{user}} !</h1>
            <div class="button-group">
                <a class="button seleccionado" href="/principal/inicio">Preguntas</a>
                <a class="button" href="/principal/reportes">Reportes</a>
                <a class="button" href="/editar/sugeridas">Preguntas sugeridas</a>
                <a class="button" href="/editar/nuevaPregunta">Crear pregunta</a>
            </div>
        </div>
        <div class="lobby-card card-container-preguntas">
            <div class="container-cantidades">
                <p class="recent-games-title titulo-preguntas">Preguntas</p>
                <p class="recent-games-title">Habilitadas: <span style="font-weight: bolder; margin-left: .5em;">{{totalHabilitadas}}</span></p>
                <p class="recent-games-title">Desactivadas: <span style="font-weight: bolder; margin-left: .5em;">{{totalDesactivadas}}</span></p>
                <p class="recent-games-title">Totales: <span style="font-weight: bolder; margin-left: .5em">{{total}}</span></p>
            </div>
            <div class="cont-buton-todas">
                <button class="btn checkIcon">
                    <a href="/principal/habilitarTodasLasPreguntasDesactivadas">
                        <img src="/public/images/icons/checkIcon.svg" alt="Habilitar todas" title="Habilitar todas">
                        <span>Habilitar todas</span>
                    </a>
                </button>
                <button class="btn cancelIcon">
                    <a href="/principal/desactivarTodasLasPreguntasHabilitadasYReportadas">
                        <img src="/public/images/icons/cancelIcon.svg" alt="Desactivar todas" title="Desactivar todas">
                        <span>Desactivar todas</span>
                    </a>
                </button>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoría</th>
                        <th>Pregunta</th>
                        <th class="acciones-th">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#preguntas}}
                        <tr>
                            <td>{{id_pregunta}}</td>
                            <td>{{nombre}}</td>
                            <td>{{pregunta}}</td>
                            <td class="botones-td">
                                <button class="btn editar">
                                    <a href="/editar/pregunta/{{id_pregunta}}">
                                        <img src="/public/images/icons/editIcon.svg" alt="edit" title="Editar">
                                        <span>Editar</span>
                                    </a>
                                </button>
                                <button class="btn {{imagenDelBoton}}">
                                    <a href="/principal/{{accion}}/{{id_pregunta}}">
                                        <img src="/public/images/icons/{{imagenDelBoton}}.svg" alt="{{accion}}" title="{{accion}}">
                                        <span>{{accion}}</span>
                                    </a> <!-- ACA VER EN EL ICON DE REEMPLAZAR POR EL { {pregunta.estado} } segun el nombre del icono si es desactivar es cancel y si es aprobar es el check-->
                                </button>
                            </td>
                        </tr>
                    {{/preguntas}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>{{/esEditor}}


{{#esAdmin}}
    <form method="post" action='/dashboardAdmin/generarPdf' id="generarPdf" target="_blank" class="flex-column">
        <input type="submit" value="Generar PDF" class="boton-pdf"/>
        <div class="totales">
            <div>
                <h2>Total de jugadores</h2>
                <input type="hidden" name="cantidadJugadores" id="cantidadJugadores">
                <div id="cantidad_jugadores"></div>
            </div>
            <div>
                <h2>Total de preguntas en el juego</h2>
                <input type="hidden" name="cantidadPreguntas" id="cantidadPreguntas">
                <div id="cantidad_preguntas"></div>
            </div>
        </div>
        <div class="row">
            <input type="hidden" name="chart3" id="chart3">
            <div id="chart_div_sexo" class="col"></div>
            <input type="hidden" name="chart4" id="chart4">
            <div id="chart_div_partidasJugadas" class="col"></div>
            <input type="hidden" name="chart5" id="chart5">
            <div id="chart_div_barras" class="col"></div>
        </div>
    </form>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(dibujarValores);

        function dibujarValores() {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var datos = JSON.parse(this.responseText);
                    console.log(datos);

                    document.getElementById("cantidad_jugadores").innerText = datos.datosCantidadJugadores;
                    document.getElementById("cantidad_preguntas").innerText = datos.cantidadDePreguntas;

                    // aca asigno los input invisible a los datos.
                    document.getElementById("cantidadJugadores").value = datos.datosCantidadJugadores;
                    document.getElementById("cantidadPreguntas").value = datos.cantidadDePreguntas;

                    dibujarTorta(datos.cantidadJugadoresPorSexo, "chart_div_sexo", "chart3", "PORCENTAJE JUGADORES POR SEXO");
                    dibujarGraficoColumna(datos.cantidadDePreguntasPorCategoria, "chart_div_barras", "chart5", "CANTIDAD DE PREGUNTAS POR CATEGORIA");
                    dibujarGraficoColumna(datos.cantidadDePartidasJugadasPorUsuario, "chart_div_partidasJugadas", "chart4", "CANTIDAD DE PARTIDAS POR JUGADOR");
                }
            };
            xmlhttp.open("GET", '/dashboardAdmin/obtenerDatos', true);
            xmlhttp.send();
        }

        function dibujarTorta(datos, idElemento, inputId, titulo) {
            let graficoMostrable = new google.visualization.DataTable();
            graficoMostrable.addColumn('string', 'dato');
            graficoMostrable.addColumn('number', 'valor');
            datos.forEach(function (fila) {
                graficoMostrable.addRow([fila.dato, fila.valor]);
            });

            let options = {
                'title': titulo,
                'width': 400,
                'height': 300
            };

            let chart = new google.visualization.PieChart(document.getElementById(idElemento));
            google.visualization.events.addListener(chart, 'ready', function () {
                document.getElementById(inputId).value = chart.getImageURI();
            });
            chart.draw(graficoMostrable, options);

        }

        function dibujarGraficoColumna(datos, idElemento, inputId, titulo) {
            let grafico = new google.visualization.DataTable();
            grafico.addColumn('string', 'dato');
            grafico.addColumn('number', 'valor');
            datos.forEach(function (fila) {
                grafico.addRow([fila.dato, fila.valor]);
            });

            let options = {
                title: titulo,
                width: 400,
                height: 300,
                legend: {position: 'none'}
            };

            let chart = new google.visualization.ColumnChart(document.getElementById(idElemento));
            google.visualization.events.addListener(chart, 'ready', function () {
                document.getElementById(inputId).value = chart.getImageURI();
            });
            chart.draw(grafico, options);
        }
    </script>
{{/esAdmin}}

</body>
</html>