<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/home.css">

    {{#esEditor}}
        <link rel="stylesheet" href="/public/css/homeEditor.css">
    {{/esEditor}}



        <script src="/public/js/popUp.js" defer></script>
    <title>Inicio - QuizMaster</title>
</head>
<body>






{{#esJugador}}
    {{#partidaPendiente}}
        <div class="popupCompleto">
            <div class="caja-popup">
                <img src="/public/images/icons/warningIcon.svg" alt="warningIcon" title="Advertencia">
                <h3>¡Tienes una partida empezada!</h3>
                <h6>Debes terminar tu partida.</h6>
                <a href="/partida/jugar" id="btnReanudar">Reanudar partida</a>
            </div>
        </div>
    {{/partidaPendiente}}
    <div class="main-content">
        <div class="lobby-card">
            <h1 class="welcome-title">Bienvenido, {{user}} !</h1>
            <div class="user-stats">
                <span>Puntaje actual: {{objUsuario.puntaje_usuario}}</span>
                <span>#{{posicionEnElRanking}}</span>
            </div>
            <div class="button-group">
                <a class="button" href="/partida/jugar">Nueva Partida</a>
                <a class="button" href="/ranking/posiciones">Ranking</a>
                <a class="button" href="/editar/nuevaPregunta">Crear Pregunta</a>
            </div>
        </div>
        <div class="lobby-card">
            <h2 class="recent-games-title">Partidas Recientes</h2>
            <ul class="game-list">
                {{#partidasDelUsuario}}
                    <li class="game-item">
                        <span>Partida {{id_partida}}</span>
                        <span class="puntaje">+{{puntaje}} puntos</span>
                    </li>
                {{/partidasDelUsuario}}
                {{^partidasDelUsuario}}
                    <li class="sin-partidas">
                        <p>¡Aún no tiene partidas jugadas!</p>
                    </li>
                {{/partidasDelUsuario}}
            </ul>
        </div>
    </div>
{{/esJugador}}












{{#esEditor}}

    {{#exitoMsjSobreDesactivacion}}
        <p class="alerta exito">{{exitoMsjSobreDesactivacion}}</p>
    {{/exitoMsjSobreDesactivacion}}
    {{#errorMsjSobreDesactivacion}}
        <p class="alerta error">{{errorMsjSobreDesactivacion}}</p>
    {{/errorMsjSobreDesactivacion}}

    {{#exitoMsjSobreHabilitacion}}
        <p class="alerta exito">{{exitoMsjSobreHabilitacion}}</p>
    {{/exitoMsjSobreHabilitacion}}
    {{#errorMsjSobreHabilitacion}}
        <p class="alerta error">{{errorMsjSobreDesactivacion}}</p>
    {{/errorMsjSobreHabilitacion}}

    {{#exitoEditar}}
        <p class="alerta exito">{{exitoEditar}}</p>
    {{/exitoEditar}}
    <div class="main-content">
        <div class="lobby-card">
            <h1 class="welcome-title">Bienvenido, {{user}} !</h1>
            <div class="button-group">
                <a class="button" href="/principal/inicio">Preguntas</a>
                <a class="button" href="/principal/reportes">Reportes</a>
                <a class="button" href="/principal/preguntasSugeridas">Preguntas sugeridas</a>
            </div>
        </div>
        <div class="lobby-card card-container-preguntas">
            <div class="container-cantidades">
                <p class="recent-games-title titulo-preguntas">Preguntas</p>
                <p class="recent-games-title">Habilitadas: <span style="font-weight: bolder; margin-left: .5em;">{{totalHabilitadas}}</span></p>
                <p class="recent-games-title">Desactivadas: <span style="font-weight: bolder; margin-left: .5em;">{{totalDesactivadas}}</span></p>
                <p class="recent-games-title">Totales: <span style="font-weight: bolder; margin-left: .5em">{{total}}</span></p>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoría</th>
                        <th>Pregunta</th>
                        <th class="acciones-th">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#preguntas}}
                        <tr>
                            <td>{{id_pregunta}}</td>
                            <td>{{nombre}}</td>
                            <td>{{pregunta}}</td>
                            <td class="botones-td">
                                <button class="btn editar">
                                    <a href="">
                                        <img src="/public/images/icons/editIcon.svg" alt="edit" title="Editar">
                                        <span>Editar</span>
                                    </a>
                                </button>
                                <button class="btn {{imagenDelBoton}}">
                                    <a href="/principal/{{accion}}/{{id_pregunta}}">
                                        <img src="/public/images/icons/{{imagenDelBoton}}.svg" alt="edit" title="Editar">
                                        <span>{{accion}}</span>
                                    </a> <!-- ACA VER EN EL ICON DE REEMPLAZAR POR EL { {pregunta.estado} } segun el nombre del icono si es desactivar es cancel y si es aprobar es el check-->
                                </button>
                            </td>
                        </tr>
                    {{/preguntas}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>{{/esEditor}}









{{#esAdmin}}
    SOS UN ADMINISTRADOR
{{/esAdmin}}
</body>
</html>