<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap y FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Iniciar sesión - QuizMaster</title>
</head>
<body>
    <nav class="navbar">
        <h1>Iniciar sesión en QuizMaster</h1>
    </nav>
    <div class="main-content">
        <div class="login-card">
            <form action="/acceso/validarIngreso" method="POST">
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                </div>
                {{#msj}}
                    <p class="alert alert-danger">{{msj}}</p>
                {{/msj}}
                {{#exito}}
                    <p class="alert alert-success">{{exito}}</p>
                {{/exito}}


                <button type="submit" class="button">Iniciar sesión</button>
            </form>
            <div class="register-link">
                <p>¿No tienes una cuenta? <a href="/acceso/registrar">Regístrate aquí</a></p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
