<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/partida.css">
    <script src="/public/js/popUp.js" defer></script>

    <title>Pregunta - QuizMaster</title>
</head>
<body>

<div class="popupCompleto" style="display: none">
    <div class="caja-popup">
        <h3>¿Desea reportar esta pregunta?</h3>
        <h6>Deberá rellenar un formulario de reporte.</h6>
        <div class="cont-btn-popup-reporte">
            <p id="btnReanudar">No</p>
            <p id="btnIrAlFormDeReporte">Sí</p>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="question-card {{categoria}}">
        <!--<input type="range" id="rango" name="rango" min="0" max="10" step="1" value="10">-->
        {{^esDeCorreccion}}
            <div id="barra-carga">
                <div class="progreso"></div>
            </div>
        {{/esDeCorreccion}}
        <div class="categoria-reloj">
            <h5 class="categoria">· {{pregunta.nombre}} ·</h5>
            {{#mostrarReloj}}
                <h5 class="contador" id="contador">00:10</h5>
            {{/mostrarReloj}}
            {{#esDeCorreccion}}
                {{^contestoDentroDelTiempo}}
                    <h5 class="contador animacion-tiempo-completo" id="contador">¡Tiempo terminado!</h5>
                {{/contestoDentroDelTiempo}}

                {{#contestoDentroDelTiempo}}
                    {{#laSeleccionadaEsCorrecta}}
                        <h5 class="contador animacion-tiempo-completo" id="contador" style="color: #13ba00">¡Correcto!</h5>
                    {{/laSeleccionadaEsCorrecta}}
                    {{^laSeleccionadaEsCorrecta}}
                        <h5 class="contador animacion-tiempo-completo" id="contador">¡Incorrecto!</h5>
                    {{/laSeleccionadaEsCorrecta}}
                {{/contestoDentroDelTiempo}}
            {{/esDeCorreccion}}
        </div>
        <h2 class="question-title">{{pregunta.pregunta}}</h2>

        <form action="/partida/jugar" method="POST" class="options-form" id="form">
            <input type="hidden" name="id_pregunta" value="{{pregunta.id_pregunta}}">

            <ul class="options-list">
                {{#opciones}}
                    <li class="option-item">
                        <label class="option-button
                        {{#esDeCorreccion}}
                            {{#correcta}} option-correct {{/correcta}}
                            {{^correcta}}
                                {{#seleccionada}} option-incorrect {{/seleccionada}}
                            {{/correcta}}
                        {{/esDeCorreccion}}">
                            <input type="radio" class="option-button" name="respuesta" value="{{id_respuesta}}" style="display: none">
                            {{descripcion}}
                        </label>
                    </li>
                {{/opciones}}
                <input type="radio" class="option-button" name="respuesta" value="noTime" style="display: none" checked>
            </ul>
        </form>

        <div class="contenedor-botones">
            {{#esDeCorreccion}}
                {{#contestoDentroDelTiempo}}
                    {{#laSeleccionadaEsCorrecta}}
                        <button class="next-button end"><a href="/partida/jugar">Siguiente <img src="/public/images/icons/arrowRightIcon.svg"></a></button>
                    {{/laSeleccionadaEsCorrecta}}
                    {{^laSeleccionadaEsCorrecta}}
                        <button class="back-button start"><a href="/principal/home">Volver al inicio</a></button>
                        <p>Puntaje total: {{puntaje}}</p>
                    {{/laSeleccionadaEsCorrecta}}
                {{/contestoDentroDelTiempo}}

                {{^contestoDentroDelTiempo}}
                    <button class="back-button start"><a href="/principal/home">Volver al inicio</a></button>
                    <p>Puntaje total: {{puntaje}}</p>
                {{/contestoDentroDelTiempo}}
            {{/esDeCorreccion}}

        </div>

        <form action="/partida/mostrarVistaReporte" method="GET" id="reportarPreguntaForm">
            <input type="hidden" name="id_pregunta" value="{{pregunta.id_pregunta}}">
            {{#esDeCorreccion}}
                <a class="report-button"><img src="/public/images/icons/flagReportIcon.svg" alt="Reportar" title="Reportar pregunta: {{pregunta.id_pregunta}}"></a>
            {{/esDeCorreccion}}
        </form>

    </div>
</div>
<script src="/public/js/enviarRespuesta.js" defer></script>
{{#mostrarReloj}}
    <script src="/public/js/reloj.js" defer></script>
{{/mostrarReloj}}
</body>
</html>
