<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/partida.css">
    <title>Pregunta - QuizMaster</title>
</head>
<body>
<div class="main-content">
    <div class="question-card {{categoria}}">
        <h1 class="categoria">· {{pregunta.nombre}} ·</h1>
        <h2 class="question-title">{{pregunta.pregunta}}</h2>

        <form action="/partida/jugar" method="POST" class="options-form" id="form">
            <input type="hidden" name="id_pregunta" value="{{pregunta.id_pregunta}}">

            <ul class="options-list">
                {{#opciones}}
                    <li class="option-item">
                        <label class="option-button
                        {{#esDeCorreccion}}
                            {{#correcta}} option-correct {{/correcta}}
                            {{^correcta}}
                                {{#seleccionada}} option-incorrect {{/seleccionada}}
                            {{/correcta}}
                        {{/esDeCorreccion}}">
                            <input type="radio" class="option-button" name="respuesta" value="{{id_respuesta}}" style="display: none">
                            {{descripcion}}
                        </label>
                    </li>
                {{/opciones}}
            </ul>
        </form>

        <div class="contenedor-botones">
            {{#esDeCorreccion}}
                {{#laSeleccionadaEsCorrecta}}
                    <button class="next-button end"><a href="/partida/jugar">Siguiente <img src="/public/images/icons/arrowRightIcon.svg"></a></button>
                {{/laSeleccionadaEsCorrecta}}
                {{^laSeleccionadaEsCorrecta}}
                    <button class="back-button start"><a href="/principal/home">Volver al inicio</a></button>
                    <p>Puntaje obtenido: 100</p>
                {{/laSeleccionadaEsCorrecta}}
            {{/esDeCorreccion}}

        </div>
        <!-- Formulario para reportar pregunta -->

        <form action="/partida/reportarPregunta" method="GET" id="reportarPreguntaForm">
            <p> {{pregunta.id_pregunta}}</p>
            <input type="hidden" name="id_pregunta" value="{{pregunta.id_pregunta}}">
            <input type="submit" class="boton-reporte" id="btn-reportar">
        </form>

    </div>
</div>
<script src="/public/js/enviarRespuesta.js" defer></script>
</body>
</html>
