<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/perfil.css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZyPvOL6RNuAFLAp4fRzDauddjtpNtU0Q&callback=initMap"></script>
    <script src="/public/js/googleMaps.js" defer></script>
    <script src="/public/js/ubicacionDelPerfil.js" defer></script>
    <script src="/public/js/popUp.js" defer></script>

    <title>Perfil de Usuario - QuizMaster</title>
</head>
<body>
<div class="popupCompleto" style="display: none">
    <div class="caja-popup">
        <h3>@{{usuarioAMostrar.nombreusuario}}</h3>
        <img class="qr-popup" src="/public/images/qr/qr.svg" alt="QR - Perfil" title="QR">
        <p id="btnReanudar">Cerrar</p>
    </div>
</div>

    <div class="main-content {{^esJugador}}displayAdminEditor{{/esJugador}}">
        <div class="profile-card">
            <div class="profile-header">
                <div class="cont-avataryname">
                    <div class="profile-avatar">
                        <img src="/public/images/profiles/{{usuarioAMostrar.fotoperfil}}">
                    </div>
                    <div>
                        <h1 class="profile-name">{{usuarioAMostrar.nombre}} {{usuarioAMostrar.apellido}}</h1>
                        <p class="profile-username">@{{usuarioAMostrar.nombreusuario}}</p>
                    </div>
                </div>
                <div>
                    <img class="qr" src="/public/images/qr/qr.svg" alt="QR - Perfil" title="QR">
                </div>
            </div>

            <div class="profile-stats">
                {{#esJugador}}
                    <div class="stat-item">
                        <p class="stat-label">Ranking</p>
                        <p class="stat-value">#{{usuarioAMostrar.posicionEnElRanking}}</p>
                    </div>
                    <div class="stat-item">
                        <p class="stat-label">Puntaje</p>
                        <p class="stat-value">{{usuarioAMostrar.puntaje_usuario}}</p>
                    </div>
                {{/esJugador}}
                {{^esJugador}}
                    <div class="stat-item">
                        <p class="stat-label">Rol: <span style="color: red; font-weight: bolder">{{usuarioAMostrar.rango}}</span></p>
                    </div>
                {{/esJugador}}
            </div>
            <div id="mapaPerfil">
                <input type="hidden" id="lat" value="{{coordenadas.lat}}">
                <input type="hidden" id="lng" value="{{coordenadas.lng}}">
                <iframe src="https://www.google.com/maps?q={{usuarioAMostrar.ubicacion}}&h1=es;z=14&output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <label class="direccion"><img src="/public/images/icons/locationIcon.svg" alt="locationIcon" title="Ubicación seleccionada" style="margin-bottom: .3em"> <span id="selectedLocation">Ninguna</span></label>
            </div>

            {{#esJugador}}
                {{^estoyEnMiPerfil}}
                    <a href="/ranking/posiciones" class="button">Volver al ranking</a>
                {{/estoyEnMiPerfil}}
            {{/esJugador}}
        </div>

        {{#esJugador}}
        <div class="card2">
            {{#estoyEnMiPerfil}}
                <div class="preferencias">
                    <h2 class="recent-games-title">Ajustes</h2>
                    <form id="musicaForm" method="POST">
                        <p>Música:</p>
                        <div class="radio-container">
                            <input type="radio" name="musica" value="SI" id="musicaSi" {{#musicaActivada}}checked{{/musicaActivada}}>
                            <label for="musicaSi">Activar</label>

                            <input type="radio" name="musica" value="NO" id="musicaNo" {{^musicaActivada}}checked{{/musicaActivada}}>
                            <label for="musicaNo">Desactivar</label>
                        </div>
                    </form>
                    <form id="sonidoForm" method="POST">
                        <p>Sonidos:</p>
                        <div class="radio-container">
                            <input type="radio" name="sonido" value="SI" id="sonidoSi" {{#sonidoActivado}}checked{{/sonidoActivado}} onchange="this.form.submit()">
                            <label for="sonidoSi">Activar</label>

                            <input type="radio" name="sonido" value="NO" id="sonidoNo" {{^sonidoActivado}}checked{{/sonidoActivado}} onchange="this.form.submit()">
                            <label for="sonidoNo">Desactivar</label>
                        </div>
                    </form>
                </div>
            {{/estoyEnMiPerfil}}

            <div class="games-card">
                <h2 class="recent-games-title">Partidas Recientes</h2>
                <ul class="game-list">
                    {{#partidasDelUsuario}}
                        <li class="game-item">
                            <span>Partida {{id_partida}}</span>
                            <span class="puntaje">+{{puntaje}} puntos</span>
                        </li>
                    {{/partidasDelUsuario}}
                    {{^partidasDelUsuario}}
                        <li class="sin-partidas">
                            <p>¡Aún no tiene partidas jugadas!</p>
                        </li>
                    {{/partidasDelUsuario}}
                </ul>
            </div>
        </div>
        {{/esJugador}}
    </div>
</body>
</html>