<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/ranking.css">
    <script src="/public/js/ranking.js" defer></script>
    <script src="/public/js/popUp.js" defer></script>
    <title>QuizMaster - Ranking</title>
</head>
<body>

<div class="popupCompleto" style="display: none">
    <div class="caja-popup">
        <img src="/public/images/icons/infoIcon.svg" alt="Info icon" title="¿Cómo funciona?">
        <div class="divContenedorDeInformacion">
            <h3>¿Cómo funciona?</h3>
            <h6>El posicionamiento de ranking se basa en el puntaje de la <strong>mejor partida</strong> del cada usuario.</h6>
            <h6>En caso de empate, se definirá el puesto según quién ha conseguido <strong>antes</strong> el puntaje.</h6>
        </div>
        <p id="btnReanudar">Cerrar</p>
    </div>
</div>

    <div class="main-content">
        <div class="ranking-card">
            <div class="titleRanking_iconInfo">
                <h2 class="ranking-title">#RANKING</h2>
                <img src="/public/images/icons/infoIcon.svg" alt="Info icon" title="¿Cómo funciona?" id="infoIcon">
            </div>
            <table class="ranking-table">
                <thead>
                    <tr>
                        <th>PUESTO</th>
                        <th>USUARIO</th>
                        <th>PUNTAJE</th>
                    </tr>
                </thead>
                <tbody>
                {{#ranking}}
                    <tr class="fila" id="{{id_usuario}}">
                        <td class="ranking-position">{{posicion}}</td>
                        <td>
                            <div class="user-row">
                                <div class="user-avatar">
                                    <img src="/public/images/profiles/{{fotoperfil}}" alt="foto usuario" title="@{{nombreusuario}}">
                                </div>
                                @{{nombreusuario}}
                            </div>
                        </td>
                        <td>{{puntaje}}</td>
                    </tr>
                {{/ranking}}
                </tbody>
            </table>
            <a href="/principal/inicio" class="button">Volver al inicio</a>
        </div>
    </div>
</body>
</html>