<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/homeEditor.css">
    <link rel="stylesheet" href="/public/css/reportes.css">

    <script src="/public/js/popUp.js" defer></script>
    <title>Reportes - QuizMaster</title>
</head>
<body>

    {{#exitoMsjSobreEliminacionReporte}}
        <p class="alerta exito">{{exitoMsjSobreEliminacionReporte}}</p>
    {{/exitoMsjSobreEliminacionReporte}}
    {{#errorMsjSobreEliminacionReporte}}
        <p class="alerta error">{{errorMsjSobreEliminacionReporte}}</p>
    {{/errorMsjSobreEliminacionReporte}}

    {{#exitoMsjSobreAprobacionReporte}}
        <p class="alerta exito">{{exitoMsjSobreAprobacionReporte}}</p>
    {{/exitoMsjSobreAprobacionReporte}}
    {{#errorMsjSobreAprobacionReporte}}
        <p class="alerta error">{{errorMsjSobreAprobacionReporte}}</p>
    {{/errorMsjSobreAprobacionReporte}}

    <div class="main-content">
        <div class="lobby-card">
            <h1 class="welcome-title">Bienvenido, {{user}} !</h1>
            <div class="button-group">
                <a class="button" href="/principal/inicio">Preguntas</a>
                <a class="button" href="/principal/reportes">Reportes</a>
                <a class="button" href="/principal/preguntasSugeridas">Preguntas sugeridas</a>
            </div>
        </div>
        <div class="lobby-card card-container-preguntas">
            <div class="container-cantidades">
                <p class="recent-games-title titulo-preguntas">Reportes</p>
                <p class="recent-games-title">Totales: <span style="font-weight: bolder; margin-left: .5em">{{total}}</span></p>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Pregunta</th>
                        <th>Motivo</th>
                        <th>Fecha</th>
                        <th class="acciones-th">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#reportes}}
                        <tr>
                            <td>{{id_reporte}}</td>
                            <td>@{{user}}</td>
                            <td>{{id_pregunta}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{fecha_reporte}}</td>
                            <td class="botones-td">
                                <button class="btn checkIcon">
                                    <a href="/principal/aprobarReporte/{{id_reporte}}">
                                        <img src="/public/images/icons/checkIcon.svg" alt="Aprobar" title="Aprobar">
                                        <span>Aprobar</span>
                                    </a>
                                </button>
                                <button class="btn cancelIcon">
                                    <a href="/principal/eliminarReporte/{{id_reporte}}">
                                        <img src="/public/images/icons/cancelIcon.svg" alt="Eliminar" title="Eliminar">
                                        <span>Eliminar</span>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    {{/reportes}}
                    </tbody>
                </table>
                {{^reportes}}
                    <div class="sin-partidas" style="margin: 1em; margin-bottom: 0">
                        <p>¡No hay reportes!</p>
                    </div>
                {{/reportes}}
            </div>
        </div>
    </div>

</body>
</html>