<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/reportarPregunta.css">
    <title>Reportar Pregunta - QuizMaster</title>
</head>
<body>
<div class="page-container">
    <div class="main-content">
        <h1>Reportar Pregunta</h1>
        <form action="/partida/reportarPregunta" method="POST">
            <label for="razon">Selecciona una razón:</label>
            <input type="hidden"  name="id_pregunta" value="{{idPreguntaReportar}}">
            <select name="descripcion" id="razon" required>
                <option value="Formulación incorrecta">Formulación incorrecta</option>
                <option value="Respuestas equivocadas">Respuestas equivocadas</option>
                <option value="Pertenece a otra categoría">Pertenece a otra categoría</option>
                <option value="Otro">Otro</option>
            </select>
            <label for="opinion">Tu opinión:</label>
            <textarea name="opinion" id="opinion" placeholder="Detalle su opinión..." maxlength="200"></textarea>
            <input type="submit"  value="Enviar Reporte">
        </form>
    </div>
</div>
</body>
</html>
