<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/reportarPregunta.css">
    <title>Reportar Pregunta - QuizMaster</title>
</head>
<body>
<div class="page-container">
    <div class="main-content">
        <h1>Reportar Pregunta</h1>
        <form action="/partida/reportarPregunta" method="POST">
            <label for="razon">Selecciona una razón para el reporte:</label>
            <input type="hidden"  name="id_pregunta" value="{{idPreguntaReportar}}">
            <select name="descripcion" required>
                <option value="Contenido inapropiado">Contenido inapropiado</option>
                <option value="Pregunta incorrecta">Pregunta incorrecta</option>
                <option value="Otro">Otro</option>
            </select>

            <label for="opinion">Tu opinión:</label>
            <textarea name="opinion" required></textarea>
            <input type="submit"  value="Enviar Reporte">
        </form>
    </div>
</div>
</body>
</html>
